@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --cor-de-fundo: #0D1635;
    --cor-principal01: #6EF022;
    --cor-principal02: #0171FF;
    --cor-letra-nav: #7DF012;
    --cor-letra-geral: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-de-fundo);
    color: var(--cor-letra-geral);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-home-header {
    background-color: #253255;
    width: 1299px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 15px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(1, 165, 185, 0.3);
    border: 2px solid transparent;
    background:
        linear-gradient(#253255) padding-box,
        linear-gradient(90deg, #01A5B9, #0064A7) border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 800;
}

.logo span {
    background: linear-gradient(90deg, #0FE19A, #01AECE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img {
    width: 84px;
    height: 82px;
}

.nav-home ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-home ul li a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: var(--cor-letra-geral);
}

.nav-home-header li a.ativo {
    color: var(--cor-letra-nav);
}

.nav-home-header li a:hover {
    color: var(--cor-letra-nav);
}

.nav-home-header li a {
    position: relative;
    color: var(--cor-letra-nav);
    text-decoration: none;
}

.nav-home-header li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 28%;
    width: 0;
    height: 2px;
    background: var(--cor-letra-nav);
    border-radius: 10px;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-home-header li a:hover::after {
    width: 50%;
}

.nav-home-header li a:not(.ativo):hover::after {
    width: 50%;
}

.nav-home-header li a.ativo::after {
    width: 50%;
}

.login {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 14px 32px;
    border-radius: 20px;
    border: none;
    color: var(--cor-letra-geral);
    transition: 0.5s ease;
}

.login-entrar {
    background-color: transparent;
    border: 2px solid transparent;
    background:
        linear-gradient(#253255) padding-box,
        linear-gradient(10deg, #0064A7, #0FE19A) border-box;
}

.cadastro {
    background: linear-gradient(10deg, #0171FF, #3EDF81);
}

.btn:hover {
    transition: 0.5s ease;
    transform: translateY(-5px);
}

.tag-toco-home {
    padding: 8px 25px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    background: linear-gradient(90deg, #0171FF, #0EBCB0, #3EDF81);

}

main {
    margin: 32px;
}

.escrita-home {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.escrita-home h1 {
    font-size: 48px;
    font-weight: 800;
    width: 523px;
    line-height: 60px;
}

.detalhe-titulo-h1 {
    width: 100px;
    background: linear-gradient(100deg, #008DFF, #36DF6C, #63F518);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.escrita-home p {
    font-size: 16px;
    width: 516px;
}

.hero-botoes {
    display: flex;
    gap: 17px;
}

.btn-texto-hero {
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    color: var(--cor-letra-geral);
    transition: 0.5s ease;

}

.primeiro-btn-hero {
    padding: 15px 59px;
    background: linear-gradient(90deg, var(--cor-principal01), var(--cor-principal02));
}

.secundario-btn-hero {
    border: 1px solid transparent;
    background:
        linear-gradient(var(--cor-de-fundo)) padding-box,
        linear-gradient(90deg, var(--cor-principal02), var(--cor-principal01)) border-box;
    padding: 15px 25px;
}

.icone-play {
    font-size: 20px;
    color: var(--cor-letra-nav);
}

.btn-texto-hero:hover {
    transition: 0.5s ease;
    transform: translateY(-5px);
}

.fundo-home {
    background-image: url("../img/fundohome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-conteudo {
    display: flex;
}

.hero-imagem {
    display: flex;
}

.tag {
    padding: 11px 25px;
    background-color: var(--cor-de-fundo);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 0.5s ease;
}

.tag img {
    width: 32px;
    height: 32px;
}

.tags-flutuantes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.azul-tag {
    border: 1px solid var(--cor-principal02);
}

.verde-tag {
    border: 1px solid var(--cor-principal01);
}

.tags-flutuantes .tag:nth-child(1) {
    margin-left: -50px;
}

.tags-flutuantes .tag:nth-child(2) {
    margin-left: -10px;
}

.tags-flutuantes .tag:nth-child(3) {
    margin-left: 30px;
}

.tags-flutuantes .tag:nth-child(4) {
    margin-left: -10px;
}

.tags-flutuantes .tag:nth-child(5) {
    margin-left: -50px;
}

.tags-flutuantes .tag:nth-child(1):hover {
    transition: 0.5s ease;
    transform: translateX(10px);
}

.tags-flutuantes .tag:nth-child(2):hover {
    transition: 0.5s ease;
    transform: translateX(10px);
}

.tags-flutuantes .tag:nth-child(3):hover {
    transition: 0.5s ease;
    transform: translateX(10px);
}

.tags-flutuantes .tag:nth-child(4):hover {
    transition: 0.5s ease;
    transform: translateX(10px);
}

.tags-flutuantes .tag:nth-child(5):hover {
    transition: 0.5s ease;
    transform: translateX(10px);
}

.blur-home {
    width: 1340px;
    height: 132px;
    position: relative;
    top: -80px;
    background-color: var(--cor-de-fundo);
    filter: blur(30px);
}

.card-funcionalidade {
    width: 349px;
    height: 123px;
    background-color: #00152C;
    border: 1px solid #82B1FE;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.funcionalidades {
    display: flex;
    gap: 15px;
    position: relative;
    top: -96px;
}

.card-funcionalidade img {
    width: 100px;
    height: 100px;
}

.card-texto p {
    font-size: 13px;
    width: 194px;
}

.cta-inferior {
    margin: 0 auto 45px;
    background-color: rgba(0, 124, 254, 0.2);
    width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 20px;
    border: 2px solid var(--cor-principal02);
    
    
}
.cta-inferior img{
    width: 120px;
    height: 90px;
}

.cta-texto{
    position: relative;
    right: 130px;
}

.cta-texto h2{
    font-size: 22px;
    font-weight: 700;
}

.cta-texto p {
    font-size: 14px;
    color: #DFDFDF;
}

.btn-cta-inferior{
    background-color: var(--cor-principal02);
    border: none;
    padding: 14px 25px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-letra-geral);
    
}

.fa-arrow-right{
position: relative;
top: 1px;
}

.container-auth{
    position: relative;
    width: 1000px;
    height: 650px;
    margin: 40px auto;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--cor-de-fundo);
    box-shadow: 0 0 40px rgba(1, 165, 185, 0.3);
}

.card-auth,
.lado-mascote {
    transition: transform 0.8s ease;
}

.card-auth{
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 20px;
    width: calc(-50%-40px);
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 26px;
    background: linear-gradient(var(--cor-de-fundo)) padding-box,
    linear-gradient(160deg, #01A5B9, #0064A7) border-box;
}

.card-auth .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.card-auth .logo img{
    width: 48px;
    height: auto;
}

.card-auth .logo h2{
    font-size: 1.9rem;
}

.subtitulo-auth {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600px;
    margin: 8px 0 16px;
}

.tela-login {
    display: none;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.grupo-input label{
    font-size: 0.75ren;
}

.grupo-input,
.input-select {
    padding: 8px 12px;
    border: 1px solid #1fa9a0;
    border-radius: 8px;
    background-color: #16224d;
    color: var(--cor-letra-geral);
    font-family: inherit;
    font-size: 0.8rem;
}

.input-select option {
    background-color: #16224d;
}

.grupo-input input:focus,
.input-select:focus {
    outline: 2px solid #3EDF81;
}

.grupo-input input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #16224d inset;
    -webkit-text-fill-color: #fff;
}

.btn-primeiro {
    padding: 11px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #3EDF81, var(--cor-principal02));
    color: var(--cor-letra-geral);
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s ease;
    
}

.btn-full {
    width: 100%;
    margin-top: 6px;

}

.btn-primeiro:hover {
    transform: translateY(-4px);
}

.link-alternativo {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 12px;
}

.link-alternativo A {
    color: #3EDF81;);
    text-decoration: none;

}

.lado-mascote{ 
    position: absolute;
    top: 0;
    width: 50%;
    left: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#0B2A45;
    background-image:url("../img/mascote.png");
    background-size: cover;
    background-position: center;

}

.mascote{
    width: 75%;
    max-height: 390px;
    transition: transform 0.8s ease;
}

.frase {
    max-width: 350px;
    margin-top: 12px;
    font-size: 0.95rem;
    font-weight: 500;

}

.container-auth.invertido .card-auth {
    transform: translateX(calc(100% + 40px));
}

.container-auth.invertido .lado-mascote {
    transform: translateX(-100%);
}

.container-auth.invertido .mascote {
    transform: scaleX(-1);
}

.container-auth.invertido .tela-login {
    display: block;
}

.container-auth.invertido .tela-cadastro {
    display: none;
}

.sem-animacao,
.semanimacao * {
    transition: none !important;
}